.navbar {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  gap: 1rem;
}

#navbar-logo {
  width: 150px;
  height: 75px;
  mix-blend-mode: multiply;
}

.navbar aside {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar aside blockquote {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.navbar aside blockquote i {
  font-size: 1.5rem;
}

.navbar aside blockquote h3:hover {
  text-decoration: underline;
}

.navbar-profile {
  width: 80px;
  height: 80px;
}

.navbar-profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.navbar figure button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.navbar figure button:hover {
  transform: scale(1.2);
  background-color: whitesmoke;
}

.navbar button i {
  font-size: 2.5rem;
}

.navbar figure {
  display: flex;
  align-items: center;
  gap: 1rem;
}
