.add-gst-master {
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 3rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: 2rem auto;
  gap: 1rem;
  position: relative;
  background-color: whitesmoke;
}

.add-gst-master blockquote {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
}

.add-gst-master blockquote input,
.add-gst-master blockquote textarea {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

.add-gst-master blockquote textarea {
  resize: none;
}

.add-gst-master button {
  width: fit-content;
  padding: 0.7rem 1.5rem;
  background-color: #109b9e;
  color: white;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
  border-radius: 0.5rem;
  margin: 0 auto;
}
