.category-master-container {
  background-color: skyblue; /* Grey background */
  padding: 20px;
}

/* Inner white background container */
.category-master {
  background-color: #ffffff; /* White background */
  padding: 20px;
  max-width: 1200px; /* Optional: sets a max width for the content */
  margin: 0 auto; /* Centers the inner content */
}

.category-master-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

.category-master h1 {
  font-size: 1.3rem;
  margin: 0;
}

.category-master-buttons {
  display: flex;
  gap: 0.2rem;
}

.category-master-buttons button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  border: 0;
  border-radius: 0rem;
  color: white;
}

.category-master-buttons button:nth-child(1) {
  background-color: #0089ce;
}

.category-master-buttons button:nth-child(2) {
  background-color: #0089ce;
}
